* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  
  
  .App {
    box-shadow: rgba(15, 126, 238, 0.2) 0px 8px 24px;;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 900px; /* Set the maximum width */
    margin: 0 auto;
   
  }
  
  
  .header {
    background: rgb(44, 44, 44);
    color: white;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    position: static;
  }
  
  
  .logoside {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  
  .logoside > svg {
    font-size: 1.5rem;
    margin: 0 10px;
    animation: spin 6s linear infinite;
    color:greenyellow
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

  

.inputForm{
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}


.inputForm > input , button {
  outline:none;
  border:none;
  font-size: 1.4rem;
  color:#000;
}


.inputForm > input{
  height: 5vh;
  width: 80%;
  max-width: 900px; /* Set the maximum width */
  margin: 0 auto; /* Center the container */
  box-shadow: 1px 1px 6px -2px #000;
  background: #F3F8FF;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border-radius:50px ;
}
.inputForm > input::placeholder{
font-size: 18px;
color:rgba(229, 229, 229, 0.907)
}


.inputForm > button {
  font-family: 'Roboto', sans-serif;
  padding:5px 10px;
  background: #FFB534;
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 10px;
 
}

.todoContainer {
  width: 100%;
  max-width: 900px; /* Set the maximum width */
  margin: 0 auto;
}


.todos {
  font-size: 20px;
  font-weight: 500;
  max-height:500px;
  overflow-y: auto
}


.items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 4px -2px blue;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  transition: all .3s ease-in-out;
}


.items:hover{
  box-shadow: 1px 1px 6px -1px rgb(128, 255, 0);
  cursor: pointer;
}


.editText {
  display: flex;
  align-items: center;
  justify-content: center;
}
.editText > button {
  margin: 0 5px;
  display: flex;
}
.editText > button:nth-child(2) {
  color: #a1eebd;
}
.editText > button:nth-child(3) {
  color: #ef4040;
}


.editText > input {
  border: none;
  border-radius: 50px;
  background: transparent;
  padding: 10px;
  box-shadow: 1px 1px 5px -2px red;
  margin: 0 10px;
}


button {
  cursor: pointer;
  background: transparent;
}


.editBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 10px;
}
.editBtn > span {
  display: flex;
  align-items: center;
  margin-right: 10px
}
.items > button {
  color: red;
}


/* Scrollbar styles */
.todos::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}


.todos::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}


.todos::-webkit-scrollbar-track {
  background-color: #eee; /* Set the color of the track */
}



